@media (min-width:1200px){
    .container-fluid{
        max-width: 1750px;
    }
}

/* navigator bar */

.top-icon{
    color: rgba(75, 75, 75, 0.9);
}

#topnavbar a:not(#top-icon):hover{
    background-color: rgba(220, 220, 220, 0.3);
    border-radius: 5px;
}

.navbar-nav > #top-icon {
    width: fit-content;
}

/*first section*/
#first-sec{
    position: relative; 
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#first-sec::before{
    content: "";
    background-image: url(./image/first-sec.jpg);
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.89;
}

@media (min-width: 1200px) {
    #first-sec{
      height: 75vh;
      min-height: 350px;
    }
}

#first-sec p{
    color: rgb(65,65,65)
}

.first-button{
    width: 118px !important;
}

/* Protofilo */
.tech{
    font-size: 14px;
}

.listing a{
    color: black;
}

.listing a:hover{
    text-decoration-color: grey;
}

.aspectRatioBox {
    padding-top: calc(2 / 3 * 100%); /* aspect ratio 3:2 */
    background-size: cover;
    background-position: center;
}