/* navigator bar */

.top-icon{
    color: #fc2803;
}

#topnavbar a:not(#top-icon):hover{
    background-color: rgba(220, 220, 220, 0.3);
    border-radius: 5px;
}

.navbar-nav > #top-icon {
    width: fit-content;
}

/*first section*/
#first-sec{
    background-image: url(./image/first-sec.jpg);
    background-size: cover;
    background-position: center bottom;
}

@media (min-width: 1200px) {
    #first-sec{
      height: 75vh;
      min-height: 350px;
    }
}